<h1>Ruby Numbers to words conversion</h1>

<table>
  <tr>
    <th>Converted Enteries:</th>
  </tr>

<% @numericals.each do |numerical| %>
  <tr>
    <td><%= numerical.number.to_words %></td>

  </tr>
<% end %>
</table>

<br />

<b><%= link_to 'Enter New Number', new_numerical_path %></b>
